<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="true" version="2.5">
  <display-name>osapulie-anagrafiche-portlet</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:META-INF/spring/application-context.xml</param-value>
  </context-param>
  <filter>
    <filter-name>oemInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter>
    <filter-name>Cache Filter - Resource</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.cache.CacheFilter</param-value>
    </init-param>
    <init-param>
      <param-name>url-regex-ignore-pattern</param-name>
      <param-value>.+/-/.+</param-value>
    </init-param>
    <init-param>
      <param-name>pattern</param-name>
      <param-value>2</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Cache Filter - Resource JSP</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.cache.CacheFilter</param-value>
    </init-param>
    <init-param>
      <param-name>url-regex-pattern</param-name>
      <param-value>.+/(css|main)\.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>pattern</param-name>
      <param-value>2</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ETag Filter</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.etag.ETagFilter</param-value>
    </init-param>
    <init-param>
      <param-name>url-regex-ignore-pattern</param-name>
      <param-value>.+/-/.+</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ETag Filter - JSP</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.etag.ETagFilter</param-value>
    </init-param>
    <init-param>
      <param-name>url-regex-pattern</param-name>
      <param-value>.+/(css|main)\.jsp</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>GZip Filter</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.gzip.GZipFilter</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Header Filter</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.header.HeaderFilter</param-value>
    </init-param>
    <init-param>
      <param-name>url-regex-ignore-pattern</param-name>
      <param-value>.+/-/.+</param-value>
    </init-param>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=315360000, public</param-value>
    </init-param>
    <init-param>
      <param-name>Expires</param-name>
      <param-value>315360000</param-value>
    </init-param>
    <init-param>
      <param-name>Vary</param-name>
      <param-value>Accept-Encoding</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Header Filter - JSP</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.header.HeaderFilter</param-value>
    </init-param>
    <init-param>
      <param-name>url-regex-pattern</param-name>
      <param-value>.+/(css|main)\.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=315360000, public</param-value>
    </init-param>
    <init-param>
      <param-name>Expires</param-name>
      <param-value>315360000</param-value>
    </init-param>
    <init-param>
      <param-name>Vary</param-name>
      <param-value>Accept-Encoding</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Language Filter</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.language.LanguageFilter</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Minifier Filter</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.minifier.MinifierFilter</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Minifier Filter - JSP</filter-name>
    <filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
    <init-param>
      <param-name>filter-class</param-name>
      <param-value>com.liferay.portal.servlet.filters.minifier.MinifierFilter</param-value>
    </init-param>
    <init-param>
      <param-name>url-regex-pattern</param-name>
      <param-value>.+/(css|main)\.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>oemInViewFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter</filter-name>
    <url-pattern>*.ico</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Header Filter - JSP</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter</filter-name>
    <url-pattern>*.ico</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ETag Filter - JSP</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cache Filter - Resource</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cache Filter - Resource</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cache Filter - Resource</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Cache Filter - Resource JSP</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZip Filter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZip Filter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZip Filter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZip Filter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Language Filter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Minifier Filter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Minifier Filter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Minifier Filter - JSP</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.liferay.portal.kernel.servlet.SerializableSessionAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>view-servlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>visuraposizioneanagrafica</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>visuraposizioneelettorale</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatocontestualematrimonio</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatocittadinanza</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatonascita</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatoresidenza</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatoinvita</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatomatrimonio</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatoiscrizionelisteelettorali</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatostatofamiglia</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatostatolibero</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatovedovanza</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatovariazionidomiciliari</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatomorte</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>produrreautocertificazioni</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dichiarazionecambioresidenza</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dichiarazionecambiodomicilio</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>iscrizioneanagrafetemporanea</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>iscrizionealboscrutatori</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>iscrizionealbopresidenti</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>richiestacertificatoresidenzainconvivenza</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.springframework.web.portlet.DispatcherPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>view-servlet</servlet-name>
    <url-pattern>/WEB-INF/servlet/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visuraposizioneanagrafica</servlet-name>
    <url-pattern>/visuraposizioneanagrafica/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visuraposizioneelettorale</servlet-name>
    <url-pattern>/visuraposizioneelettorale/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatocontestualematrimonio</servlet-name>
    <url-pattern>/richiestacertificatocontestualematrimonio/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatocittadinanza</servlet-name>
    <url-pattern>/richiestacertificatocittadinanza/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatonascita</servlet-name>
    <url-pattern>/richiestacertificatonascita/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatoresidenza</servlet-name>
    <url-pattern>/richiestacertificatoresidenza/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatoinvita</servlet-name>
    <url-pattern>/richiestacertificatoinvita/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatomatrimonio</servlet-name>
    <url-pattern>/richiestacertificatomatrimonio/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatoiscrizionelisteelettorali</servlet-name>
    <url-pattern>/richiestacertificatoiscrizionelisteelettorali/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatostatofamiglia</servlet-name>
    <url-pattern>/richiestacertificatostatofamiglia/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatostatolibero</servlet-name>
    <url-pattern>/richiestacertificatostatolibero/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatovedovanza</servlet-name>
    <url-pattern>/richiestacertificatovedovanza/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatovariazionidomiciliari</servlet-name>
    <url-pattern>/richiestacertificatovariazionidomiciliari/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>richiestacertificatomorte</servlet-name>
    <url-pattern>/richiestacertificatomorte/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>produrreautocertificazioni</servlet-name>
    <url-pattern>/produrreautocertificazioni/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dichiarazionecambioresidenza</servlet-name>
    <url-pattern>/dichiarazionecambioresidenza/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dichiarazionecambiodomicilio</servlet-name>
    <url-pattern>/dichiarazionecambiodomicilio/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>iscrizioneanagrafetemporanea</servlet-name>
    <url-pattern>/iscrizioneanagrafetemporanea/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>iscrizionealboscrutatori</servlet-name>
    <url-pattern>/iscrizionealboscrutatori/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>iscrizionealbopresidenti</servlet-name>
    <url-pattern>/iscrizionealbopresidenti/*</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>richiestacertificatoresidenzainconvivenza</servlet-name>
    <url-pattern>/richiestacertificatoresidenzainconvivenza/*</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/aui</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-aui.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/portlet</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-portlet-ext.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/theme</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-theme.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/ui</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-ui.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/util</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-util.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://displaytag.sf.net</taglib-uri>
      <taglib-location>/WEB-INF/tld/displaytag.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>