.mainDiv .datiAnagraficiAvanzatitable .autenticazioneTd IMG {
	margin-top: 5px;
	vertical-align: bottom;
}

.mainDiv .datiAnagraficiAvanzatitable .autenticazioneTd SPAN {
	font-weight: bold;
	margin-left: 5px;
}

.buttonsDiv {
	margin: 15px;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

.buttonsDiv A.button {
	border-radius: 4px 4px 4px 4px;
	margin: 2px 4px 2px 2px;
	padding-bottom: 7px;
	padding-top: 6px;
	text-decoration: none !important;
}

.buttonsDiv A.button SPAN {
	margin: 10px;
}

.upperCase {
	text-transform: uppercase;
}

.errorField {
	background: url("../images/error.png") no-repeat scroll 6px 50% #FFDDDD;
	border: 1px solid #FF0000;
	font-weight: bold;
	margin: 6px 15px 15px 0;
	padding: 3px 6px 3px 30px;
	text-align: left;
}

.mainDiv TABLE .serviziListBox {
	width: 300px;
}

TABLE {
	width: 100%;
}

.liferayUiDate {
	min-width: 230px;
}

.datiObbligatoriDiv {
	text-align: right;
	color: #5B677D;
}

.textarea {
	width: 100%;
}

/* Select dei comuni con loader */
.comuneSelect select {
	float: left;
}

.comuneSelect .loader {
	display: none;
	float: left;
	margin-left: 5px;
}

.comuneSelect .loader IMG {
	width: 25px;
}

/* select2 */
.select2-container--classic .select2-selection--single {
	background: #fff !important;
	border-radius: 0 !important;
	border: 1px solid #e5e5e5 !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow
	{
	border-radius: 0px !important;
	width: 10px !important;
}

.select2-container--classic.select2-container--open .select2-selection--single
	{
	border-color: #e5e5e5 !important;
}

.select2-container--classic.select2-container--open .select2-dropdown {
	border-color: #e5e5e5 !important;
}

#divLoading {
	display: none;
}

#divLoading.show {
	display: block;
	position: fixed;
	z-index: 999;
	background-image: url('../images/loader.gif');
	background-color: #666;
	opacity: 0.4;
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

.elencoNumerato, .elencoNumerato li {
	list-style: decimal outside none !important;
}